/* ===== ESTILO GERAL ===== */
body {
    margin: 0;
    padding: 0;
    background: #0A0A0A;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    max-width: 420px;
    margin: auto;
    padding: 25px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #00FF9D;
    margin-bottom: 5px;
}

.sub {
    color: #888;
    margin-bottom: 25px;
}

/* ===== CARD ===== */
.card {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px #00FF9D;
    text-align: left;
}

.card label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    background: #00FF9D;
    border: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #00d685;
}

/* ===== RESULTADO ===== */
.resultado {
    margin-top: 25px;
    padding: 18px;
    background: #0f0f0f;
    border-radius: 12px;
    box-shadow: 0 0 5px #00FF9D;
    font-size: 18px;
}
